.index-title {
  padding: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgrey;
}
.index-info {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0;

  .index-info-detail {
    h6 {
      color: grey;
      font-size: 0.7rem;
    }
    p {
      text-align: center;
      margin-top: 10px;
    }
  }
}
.image-container {
  display: flex;
  justify-content: center;
  img {
    object-fit: contain;
    margin: 15px auto;
    max-height: 190px;
  }
}

@media (max-width: 1024px) {
  .index-title {
    flex-basis: 100%;
  }
  .index-info {
    flex-direction: column;

    h6 {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .index-title {
    flex-basis: auto;
  }
  .index-info {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
  }
}