* {
  margin: 0;
  padding: 0;
}

.projects-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;

  .project-container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px;
    padding: 10px;
  }

  app-single-project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .projects-container {
    app-single-project {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: (repeat(3, 1fr));
    }
  }
  
}