.team-title {
  padding: 10px;
  padding-bottom: 12px;
  border-bottom: 1px solid lightgrey;
}

app-member {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


@media (max-width: 768px) {
  app-member {
    display: flex;
    flex-direction: column;
  }
}